<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% comment %} <link rel="stylesheet" type="text/css" href="styles.css"> {% endcomment %}
    <title>index</title>
</head>
<body>
    <header>
    </header>
    <main>
        <h1>pick a table:</h1>
        <input id="table-name-input" type="text" size="3" maxlength="3"><br>
        <input id="table-name-submit" type="button" value="Enter">
    </main>
    <footer>
    </footer>
    <script>
        document.querySelector('#table-name-input').focus();
        document.querySelector('#table-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#table-name-submit').click();
            }
        };

        document.querySelector('#table-name-submit').onclick = function(e) {
            var tableName = document.querySelector('#table-name-input').value;
            window.location.pathname = '/poker/table/' + tableName;
        };
    </script>
</body>
</html>
